@charset "UTF-8";

body.index2 {
    background: url(../img/mobile-home-menu.jpeg);
    background-size: cover;
}

body.index2 header {
    display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #ffffff;
    text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

small {
  font-size: 80%;
  font-weight: 400;
}

mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

code {
  font-size: 87.5%;
  color: #e83e8c;
  word-wrap: break-word;
}

a > code {
  color: inherit;
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 87.5%;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}

kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: 700;
}

pre {
  display: block;
  font-size: 87.5%;
  color: #212529;
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

@font-face  {
    font-family: 'icomoon-icons';
    src:  url('../fonts/icomoon-icons/icomoon.eot?9mr9oo');
    src:  url('../fonts/icomoon-icons/icomoon.eot?9mr9oo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon-icons/icomoon.ttf?9mr9oo') format('truetype'),
    url('../fonts/icomoon-icons/icomoon.woff?9mr9oo') format('woff'),
    url('../fonts/icomoon-icons/icomoon.svg?9mr9oo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

span.icon {
    width: 28px;
    display: inline-block;
    height: 28px;
}

span.icon:before {
    font-family: 'icomoon-icons';
    color: #ffffff;
    font-size: 28px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.3s ease;
}

.icon-circle-twitter:before {
    content: "\e90e";
}
.icon-circle-facebook:before {
    content: "\e908";
}
.icon-circle-linkedin:before {
    content: "\e90a";
}
.icon-circle-mail:before {
    content: "\ea86";
    font-size: 26px !important;
}
.icon-hamburger-menu:before {
    content: "\e916";
    color: #203c8c !important;
    font-size: 24px !important;
}

.page-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #ffffff;
    height: 11.4rem;
    border-bottom: solid 1.4rem #001353;
    display: flex;
}

header .header.content {
    width: 70vw;
    margin: 0 auto;
    padding: 0;
}

header .header.content .burger-menu-wrapper {
    display: none;
}

header .header.content a.logo-mobile {
    display: none;
}

header .header.content a.logo,
header .header.content a.tagline {
    margin-right: .8rem;
    display: inline-block;
}

header .header.content a > img {
    background-color: #ffffff;
}

header .header.content a.logo > img {
    padding: .6rem 22px .6rem 1.4rem;
    margin: 1px 13px .8rem;
}

header .header.content a.tagline > img {
    padding-left: 2px;
}

.navigation {
    display: inline-block;
    margin-left: 2rem;
    border-left: solid 2px #d2d2d2;
    padding-top: 4px;
}

.navigation .menu-header {
    display: none;
}

.navigation > ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation > ul > li {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 18px;
    margin: 40px 24px 0 24px;
}

.navigation > ul > li a {
    color: #080808;
}

.navigation > ul > li a:hover {
    color: #080808;
}

main .banner-wrapper {
    height: 526px;
    max-height: 526px;
    overflow: hidden;
    background: #1b9cf8;
}

main .banner-wrapper ul.banner-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 525px;
}

main .banner-wrapper ul.banner-list li.banner-list-item a:hover {
    text-decoration: none;
}

main .banner-wrapper ul.banner-list li.banner-list-item a .banner-list-item-details {
    height: 526px;
    position: relative;
    transform: translateY(-100%);
    text-align: left;
    width: 70vw;
    margin: 0 auto;
    padding: 0;
    padding-top: 6%;
}

main .banner-wrapper ul.banner-list li.banner-list-item a .banner-list-item-details span.before-header:first-child {
    display: none;
}

main .banner-wrapper ul.banner-list li.banner-list-item a .banner-list-item-details h2,
main .banner-wrapper ul.banner-list li.banner-list-item a .banner-list-item-details span.before-header {
    font-size: 52px;
    font-weight: 700;
    display: block;
    line-height: 46px;
    max-width: 50%;
    margin-bottom: 1rem;
}

main .banner-wrapper ul.banner-list li.banner-list-item a .banner-list-item-details span.before-header {
    margin-bottom: 0;
}

main .banner-wrapper ul.banner-list li.banner-list-item a .banner-list-item-details span {
    display: block;
    font-size: 36px;
    font-weight: 200;
    line-height: 42px;
    max-width: 50%;
}

main .insights-wrapper {
    height: 600px;
    max-height: 600px;
    background: #ebebeb;
}

main .insights-wrapper .block-content,
main .insights-wrapper .block-details {
    width: 70vw;
    margin: 0 auto;
    padding: 0;
    padding-top: 1%;
}

main .insights-wrapper .block-details h1,
main .insights-wrapper .block-details h1.block-title {
    margin-top: 1rem;
    font-weight: 300;
    float: left;
    margin-right: 0.5rem;
}

main .insights-wrapper .block-details h1.block-title {
    float: none;
    margin-right: 0;
}

main .insights-wrapper .block-details p.block-desc {
    margin-bottom: 0;
}

main .insights-wrapper ol.insights-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

main .insights-wrapper ol.insights-list li.insights-list-item {
    height: 434px;
    display: inline-block;
    background: #ffffff;
    box-shadow: 0 0 10px 4px #c4c4c4;
    width: calc(100%/3 - 1rem);
    margin-right: 1.5rem;
    padding: 2rem 1.4rem 1.4rem 1.4rem;
}

main .insights-wrapper ol.insights-list li.insights-list-item:last-child {
    margin-right: 0;
}

main .insights-wrapper ol.insights-list li.insights-list-item:nth-child(1) {
    border-bottom: solid 1rem #1451d1;
}

main .insights-wrapper ol.insights-list li.insights-list-item:nth-child(2) {
    border-bottom: solid 1rem #00a59d;
}

main .insights-wrapper ol.insights-list li.insights-list-item:nth-child(3) {
    border-bottom: solid 1rem #009bfb;
}

main .insights-wrapper ol.insights-list li.insights-list-item .insights-list-item-details a {
    position: absolute;
    bottom: 10px;
}

main .insights-wrapper ol.insights-list li.insights-list-item .insights-list-item-details a h3 {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 0;
}

main .insights-wrapper ol.insights-list li.insights-list-item:nth-child(1) .insights-list-item-details a {
    color: #1451d1;
}

main .insights-wrapper ol.insights-list li.insights-list-item:nth-child(2) .insights-list-item-details a {
    color: #00a59d;
}

main .insights-wrapper ol.insights-list li.insights-list-item:nth-child(3) .insights-list-item-details a {
    color: #009bfb;
}

main .insights-wrapper ol.insights-list li.insights-list-item .insights-list-item-details {
    height: 374px;
    overflow: hidden;
    position: relative;
}

main .insights-wrapper ol.insights-list li.insights-list-item .insights-list-item-details .insights-list-item-image-container {
    position: absolute;
}

main .insights-wrapper ol.insights-list li.insights-list-item .insights-list-item-details .insights-list-item-image-container:before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    top: 0;
    left: -1px;
    border-width: 90px 90px 0 0;
    border-color: #ffffff transparent transparent transparent;
}

main .insights-wrapper ol.insights-list li.insights-list-item .insights-list-item-details .insights-list-item-image-container:after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    bottom: 0;
    right: 0;
    border-width: 90px 90px 0 0;
    border-color: #ffffff transparent transparent transparent;
    transform: rotate(180deg);
}

main .insights-wrapper ol.insights-list li.insights-list-item .insights-list-item-details img.insights-list-item-image {
    width: 100%;
}

main .testimonials-wrapper {
    height: 434px;
    background: url(../img/bg-gradient.jpg);
}

main .testimonials-wrapper .testimonials-details {
    height: 434px;
    position: relative;
    text-align: center;
    width: 70vw;
    margin: 0 auto;
    padding: 0;
    padding-top: 4%;
}

main .testimonials-wrapper .testimonials-details h3 {
    font-size: 46px;
    font-weight: 700;
    display: block;
    line-height: 46px;
    color: #ffffff;
    margin-bottom: 1rem;
}

main .testimonials-wrapper .testimonials-details span {
    display: block;
    font-size: 24px;
    font-weight: 200;
    line-height: 30px;
    color: #ffffff;
}

main .testimonials-wrapper .testimonials-details .action-container {
    margin-top: 3rem;
}

main .testimonials-wrapper .testimonials-details .action-container button {
    border: solid 1px #ffffff;
    border-radius: 1px;
    background: transparent;
    padding: 12px 36px;
    color: #ffffff;
    font-size: 16px;
}

main .testimonials-wrapper .testimonials-details .action-container button:hover {
    border: solid 1px #1451d0;
    color: #1451d0;
    background: #ffffff;
}

main .events-wrapper {
    height: 600px;
    max-height: 600px;
    background: #ebebeb;
}

main .events-wrapper .block-content,
main .events-wrapper .block-details {
    width: 70vw;
    margin: 0 auto;
    padding: 0;
    padding-top: 1%;
}

main .events-wrapper .block-details h1,
main .events-wrapper .block-details h1.block-title {
    margin-top: 2rem;
    font-weight: 300;
    float: left;
    margin-right: 0.5rem;
}

main .events-wrapper .block-details h1.block-title {
    float: none;
    margin-right: 0;
}

main .events-wrapper .block-details p.block-desc {
    margin-bottom: 0;
}

main .events-wrapper ol.events-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly
}

main .events-wrapper ol.events-list li.events-list-item {
    height: 340px;
    display: inline-block;
    background: #ebebeb;
    width: calc(100%/3 - 1rem);
    margin-right: 1.8rem;
    padding-top: 22px;
}

main .events-wrapper ol.events-list li.events-list-item .events-list-item-details {
    height: 318px;
    background: #1451d1;
}

main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .top-snotch {
    height: 24px;
    background: #ebebeb;
    text-align: center;
    color: #ffffff;
    display: block;
    width: 100%;
    position: relative;
}

main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .top-snotch:before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    top: 0;
    left: 6px;
    border-width: 24px 18px 0 0;
    border-color: #3c4e96 transparent transparent transparent;
    transform: rotate(180deg);
}

main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .date-container {
    padding: 20px;
    position: absolute;
    width: 93px;
    height: 93px;
    margin-left: 24px;
    margin-top: -24px;
    background: #001353;
    text-align: center;
    color: #ffffff;
}

main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .date-container span p {
    text-transform: uppercase;
    font-weight: 300;
    line-height: 16px;
    font-size: 16px;
}

main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .date-container h3 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 10px;
}

main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .details {
    padding: 70px 24px 0 24px;
    color: #ffffff;
    position: relative;
    height: calc(100% - 24px);
}

main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .details h3 {
    font-size: 28px;
    margin-bottom: 0;
}

main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .details p {
    font-size: .8rem;
}

main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .details .action-container button {
    border: solid 1px #ffffff;
    border-radius: 1px;
    background: transparent;
    padding: 12px 36px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .details .action-container button:hover {
    border: solid 1px #1451d0;
    color: #1451d0;
    background: #ffffff;
}

main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .details .place {
    position: absolute;
    bottom: 46px;
    width: calc(100% + 12px);
}

main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .details .place h4 {
    line-height: 46px;
    margin-bottom: 0;
    text-align: right;
    padding-right: 12px;
    background: #ebebeb;
    position: absolute;
    width: 90%;
    color: #707070;
}

main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .details .place h4:before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    top: 0;
    left: 0;
    border-width: 46px 46px 0 0;
    border-color: #1451d0 transparent transparent transparent;
}

main .events-wrapper ol.events-list li.events-list-item:last-child {
    margin-right: 0;
}

footer.page-footer {
    bottom: 0;
    color: #ffffff;
    background: #707070;
    height: 6rem;
    position: relative;
    line-height: 1rem;
    font-size: 14px;
}

footer.page-footer > .footer-copyright {
    width: 70vw;
    margin: 0 auto;
    padding: 0;
    padding-top: 1%;
    height: inherit;
}

footer.page-footer > .footer-copyright > .contact-info-container,
footer.page-footer > .footer-copyright > .socials-info-container {
    padding: 4px;
    display: inline-block;
    text-align: left;
}

footer.page-footer > .footer-copyright > .contact-info-container {
    float: left;
    width: 15%;
}

footer.page-footer > .footer-copyright > .socials-info-container {
    float: right;
    width: 25%;
}

footer.page-footer > .footer-copyright > .socials-info-container h6 {
    font-size: 14px;
    font-weight: normal;
    float: left;
    padding: 6px;
    margin-right: 0.5rem;
}

footer.page-footer > .footer-copyright > .socials-info-container ul.social-icons {
    margin: 0;
    padding: 0;
    list-style: none none;
    display: inline-flex;
}

footer.page-footer > .footer-copyright > .socials-info-container ul.social-icons li {
    margin-right: 6px;
}

footer.page-footer > .footer-copyright > .socials-info-container ul.social-icons li a {
    text-decoration: none;
}

.footer-navigation {
    display: none;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

@media screen and (max-width:1440px) {
    header .header.content,
    main .banner-wrapper ul.banner-list li.banner-list-item a .banner-list-item-details,
    main .insights-wrapper .block-content,
    main .insights-wrapper .block-details,
    main .testimonials-wrapper .testimonials-details,
    main .events-wrapper .block-content,
    main .events-wrapper .block-details,
    footer.page-footer > .footer-copyright {
        width: 80vw;
    }

    .navigation > ul > li {
        margin: 40px 12px 0 12px;
    }

    main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .place h4 {
        width: calc(100%/3 - 8rem);
    }
}

@media screen and (max-width:1200px) {
    header .header.content,
    main .banner-wrapper ul.banner-list li.banner-list-item a .banner-list-item-details,
    main .insights-wrapper .block-content,
    main .insights-wrapper .block-details,
    main .testimonials-wrapper .testimonials-details,
    main .events-wrapper .block-content,
    main .events-wrapper .block-details,
    footer.page-footer > .footer-copyright {
        width: 90vw;
    }
}

@media screen and (max-width:1080px) {
    header .header.content a.tagline {
        display: none;
    }
}

@media screen and (max-width:920px) {
    .navigation > ul > li {
        margin: 40px 10px 0 10px;
    }
}

@media screen and (max-width:768px) {
    header {
        height: 2.5rem;
        border-bottom: none;
        z-index: 3;
    }

    header .header.content {
        padding: 6px 2rem;
        text-align: center;
    }

    header .header.content .burger-menu-wrapper {
        position: absolute;
        right: 1.4rem;
        top: .5rem;
        z-index: 1;
        display: block;
    }

    .footer-navigation,
    .navigation {
        margin-left: 0;
        position: absolute;
        left: 0;
        border-left: none;
        top: 2.5rem;
        background: #ffffff;
        z-index: 1;
        margin: 0;
        width: 100%;
        padding: 6px 24px;
    }

    .footer-navigation .menu-header,
    .navigation .menu-header {
        border-bottom: solid 1px #ebebeb;
        display: block;
        text-align: center;
    }

    .footer-navigation .menu-header span,
    .navigation .menu-header span {
        color: #4b639f;
        font-size: 12px;
    }

    .footer-navigation > ul > li,
    .navigation > ul > li {
        padding: .6rem;
        background: #ebebeb;
        display: block;
        margin: 6px 0 0 0;
    }

    .footer-navigation > ul > li a,
    .navigation > ul > li a {
        font-size: 12px;
        color: #9b9b9b;
    }

    header.burger-menu-toggle {
        background: #ebecf0;
    }

    header.burger-menu-toggle .icon-hamburger-menu:before {
        content: "\e92f";
        color: #d32008 !important;
    }

    header .header.content a.logo-mobile {
        display: block;
        height: 2rem;
    }

    header .header.content a.logo-mobile img {
        height: 100%;
    }

    header .header.content a.logo,
    header .header.content a.tagline,
    .navigation {
        display: none;
    }

    main {
        overflow: hidden;
    }

    main .banner-wrapper,
    main .banner-wrapper ul.banner-list,
    main .banner-wrapper ul.banner-list li,
    main .insights-wrapper,
    main .events-wrapper {
        height: 340px;
        max-height: 340px;
    }

    main .banner-wrapper ul.banner-list li.banner-list-item a img {
        display: none;
    }

    main .banner-wrapper ul.banner-list li.banner-list-item a .banner-list-item-details {
        margin: 1rem 1.5rem;
        padding: 0;
        height: 310px;
        transform: none;
    }

    main .banner-wrapper ul.banner-list li.banner-list-item a .banner-list-item-details span.before-header:first-child {
        display: block;
        margin-bottom: 4rem;
    }

    main .banner-wrapper ul.banner-list li.banner-list-item a .banner-list-item-details h2 {
        font-size: 28px;
        line-height: 30px;
        font-weight: 600;
        padding-bottom: .8rem;
        margin-bottom: .8rem;
        background-image: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 12px 2px;
        background-repeat: repeat-x;
    }

    main .banner-wrapper ul.banner-list li.banner-list-item a .banner-list-item-details h2 {
        max-width: 60%;
    }

    main .banner-wrapper ul.banner-list li.banner-list-item a .banner-list-item-details span,
    main .banner-wrapper ul.banner-list li.banner-list-item a .banner-list-item-details span.before-header {
        max-width: 100%;
    }

    main .banner-wrapper ul.banner-list li.banner-list-item a .banner-list-item-details span,
    main .banner-wrapper ul.banner-list li.banner-list-item a .banner-list-item-details span.before-header {
        font-size: 14px;
        font-weight: normal;
        line-height: 22px;
    }

    main .insights-wrapper {
        background: #001a7b;
    }

    main .insights-wrapper .block-details,
    main .insights-wrapper .block-desc,
    main .insights-wrapper .block-content,
    main .events-wrapper .block-details,
    main .events-wrapper .block-desc,
    main .events-wrapper .block-content {
        padding: 1rem 0;
        color: #ffffff;
    }

    main .insights-wrapper .block-details {
        padding: 1rem 0 .4rem 0;
    }

    main .insights-wrapper .block-content,
    main .events-wrapper .block-content {
        padding-top: 0;
        padding-bottom: 0;
    }

    main .insights-wrapper .block-details h1,
    main .insights-wrapper .block-details h1.block-title,
    main .events-wrapper .block-details h1,
    main .events-wrapper .block-details h1.block-title {
        margin-top: 0;
        font-size: 22px;
        margin-bottom: 0;
    }

    main .insights-wrapper .block-details h1.block-title,
    main .events-wrapper .block-details h1.block-title {
        font-weight: 600;
    }

    main .events-wrapper .block-details h1,
    main .events-wrapper .block-details h1.block-title {
        color: #001a7b;
    }

    main .events-wrapper .block-details p.block-desc,
    main .insights-wrapper .block-details .block-desc {
        padding: 0;
        font-size: 12px;
        line-height: 14px;
    }

    main .events-wrapper .block-details p.block-desc {
        color: #7f7f7f;
    }

    main .events-wrapper ol.events-list li.events-list-item {
        padding: 0;
        margin-right: 12px;
    }

    main .insights-wrapper ol.insights-list ,
    main .events-wrapper ol.events-list{
        display: block;
    }

    main .insights-wrapper ol.insights-list li.insights-list-item,
    main .events-wrapper ol.events-list li.events-list-item {
        box-shadow: none;
        height: 230px;
        width: 222px;
        border-bottom: solid 6px #00a59c !important;
        padding: 12px;
        margin-right: 12px;
        display: block;
    }

    main .events-wrapper ol.events-list li.events-list-item {
        border-bottom: none !important;
        padding: 0;
    }

    main .events-wrapper ol.events-list li.events-list-item .events-list-item-details,
    main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .details {
        height: 230px;
    }

    main .insights-wrapper ol.insights-list li.insights-list-item:last-child {
        margin-right: 0;
    }

    main .insights-wrapper ol.insights-list li.insights-list-item .insights-list-item-details {
        height: 214px;
    }
    main .insights-wrapper ol.insights-list li.insights-list-item .insights-list-item-details .insights-list-item-image-container,
    main .insights-wrapper ol.insights-list li.insights-list-item .insights-list-item-details a {
        position: relative;
        margin-bottom: 1.5rem;
    }

    main .insights-wrapper ol.insights-list li.insights-list-item .insights-list-item-details a h3 {
        font-size: 18px;
        line-height: 18px;
        color: #00a59b;
    }

    main .insights-wrapper ol.insights-list li.insights-list-item .insights-list-item-details .insights-list-item-image-container:before,
    main .insights-wrapper ol.insights-list li.insights-list-item .insights-list-item-details .insights-list-item-image-container:after {
        border-width: 45px 45px 0 0;
    }

    main .testimonials-wrapper {
        height: 240px;
        max-height: 240px;
        background-size: cover;
    }

    main .testimonials-wrapper .testimonials-details {
        height: 240px;
        padding: 2rem 1.5rem;
        margin: 0;
    }

    main .testimonials-wrapper .testimonials-details h3 {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 2px;
    }

    main .testimonials-wrapper .testimonials-details span {
        font-size: 10px;
        line-height: 14px;
    }

    main .testimonials-wrapper .testimonials-details .action-container {
        margin-top: 1.5rem;
    }

    main .testimonials-wrapper .testimonials-details .action-container button {
        padding: 5px 24px;
        font-size: 10px;
    }

    main .events-wrapper ol.events-list li.events-list-item .events-list-item-details {
        background: none;
    }

    main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .top-snotch {
        height: 14px;
    }

    main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .top-snotch:before {
        left: 2px;
        border-width: 14px 10px 0 0;
        border-color: #bfc0bf transparent transparent transparent;
    }

    main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .date-container {
        background: #ffffff;
        color: #148e84;
        height: 45px;
        width: 45px;
        padding: 6px;
        z-index: 1;
        margin-left: 12px;
        margin-top: -14px;
    }

    main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .date-container span p {
        font-size: 10px;
        margin-bottom: 2px;
    }

    main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .date-container h3 {
        font-size: 20px;
        margin-bottom: 0;
    }

    main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .details {
        width: 100%;
        background: #001a7b;
        height: 216px;
        padding: 3rem 1rem;
    }

    main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .details h3 {
        font-size: 18px;
        padding-bottom: 6px;
    }

    main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .details p {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 6px;
    }

    main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .details .action-container {
        position: absolute;
        z-index: 1;
    }

    main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .details .action-container button {
        padding: 5px 24px;
        font-size: 10px;
    }

    main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .details .place {
        padding: 2.9rem 0 0 0;
        bottom: 0;
        position: absolute;
        padding-top: 0;
        width: 94%;
    }

    main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .details .place h4 {
        width: 100%;
        color: #767676;
        font-size: .8rem;
        font-weight: 700;
        padding-right: 12px;
        line-height: 30px;
        position: relative;
    }

    main .events-wrapper ol.events-list li.events-list-item .events-list-item-details .details .place h4:before {
        border-width: 30px 30px 0 0 !important;
        border-color: #001a7b transparent transparent transparent !important;
    }

    .owl-carousel .owl-stage-outer {
        display: contents;
    }

    .owl-carousel.owl-drag .owl-item {
        width: 222px !important;
        margin-right: 12px !important;
    }

    .owl-nav {
        display: none;
    }

    .owl-prev,
    .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 35px;
        height: 35px;
        box-shadow: none;
    }

    .owl-next span {
        display: none;
    }

    .owl-prev:hover:not(.disabled):before,
    .owl-next:hover:not(.disabled):before {
        color: #ffffff;
    }

    .owl-prev {
        left: -70px;
    }


    .owl-prev:before {
        top: 0;
        left: 0;
        transform: rotate(90deg);
    }

    .owl-next {
        right: -70px;
    }

    .owl-next:before {
        top: 0;
        left: 0;
        transform: rotate(-90deg);
    }

    .owl-dots {
        text-align: center;
        height: 0;
    }

    .owl-dots .owl-dot {
        height: 10px;
        margin-right: 5px;
        border-radius: 50%;
    }

    .owl-dots .owl-dot.active span:after {
        content: "\ea55";
    }

    .owl-dots .owl-dot.active:last-child {
        margin-right: 0;
    }

    .owl-dots .owl-dot span:after {
        content: "\ea56";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 8px;
        color: #ffffff;
        font-family: 'icomoon-icons';
        margin: 0;
        font-weight: normal;
        overflow: hidden;
    }

    .events-wrapper .owl-dots .owl-dot span:after {
        color: #767676;
    }

    footer {
        display: none;
    }

    .footer-navigation {
        display: block;
        position: relative;
        top: 0;
        padding-top: 6px;
        padding-bottom: 0;
    }

    .footer-navigation ul {
        padding: 0;
    }

    .footer-navigation ul:first-child {
        margin: 0;
    }

    .footer-navigation ul li {
        color: #79797b;
        text-align: center;
    }

    .footer-navigation ul:first-child li {
        width: 49%;
        display: inline-block;
        text-align: center;
    }

    .footer-navigation .menu-header {
        padding: 6px 0;
    }
}