.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiGrid-root > .MuiGrid-item {
  margin-top: 3rem;
}

.MuiBackdrop-root {
  opacity: .025;
  background-color: rgb(255 255 255 / 50%);
}

.MuiDialogContent-root ul,
.MuiDialogContent-root ol {
  margin-top: 0;
}

.MuiDialogContent-root li {
  line-height: 1.5rem;
  font-size: 14px;
}

#specials-container > .MuiTypography-subtitle1 {
  display: block;
}

.MuiTypography-root.MuiTypography-subtitle1,
.MuiDialogContent-root .MuiTypography-root.MuiTypography-body1 {
  font-weight: bold;
  font-size: 14px;
}

.MuiTypography-subtitle1 > .MuiTypography-root {
  font-weight: normal;
  font-size: 14px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
